<div class="rir-config rir-slide-in">
    <h2>Reddit Inbox Remake - Dashboard</h2>
    <div class="rir-config-body">
        <div class="rir-config-tabs">
            <div class="rir-config-tab rir-active-tab" data-tab="about">About</div>
            <div class="rir-config-tab" data-tab="settings">General settings</div>
            <div class="rir-config-tab" data-tab="admin">Administration</div>
            <div class="rir-config-tab" data-tab="conversation">Message-thread options</div>
        </div>
        <div class="rir-config-content-panel">
            <div class="rir-config-content rir-active-tab" data-tab-content="about">
                <h3>About</h3>
                <p>
                    Reddit Inbox Remake is presented by <a href="https://old.reddit.com/u/kink3d" target="_blank">u/kink3d</a>,
                    based on the original work of <a href="https://old.reddit.com/u/Goctionni" target="_blank">u/Goctionni</a>.
                    The goal of this extension is to improve the messaging functionality of Reddit on desktop, making it more
                    efficient and enjoyable to use.
                </p>
                <h3>History</h3>
                <p>
                    In 2018, I started a passion project to design and manufacture unconventional wearable accessories using
                    high-tech 3D printing. The project was nurtured on Reddit, and I relied heavily on the original version of
                    this extension in order to communicate with early adopters. Over time, it developed into a consumer products
                    company with a devoted following, called KINK3D.
                </p>
                <p>
                    This release is an update that modernizes the extension for Chrome Manifest V3. It is presented in the spirit
                    of giving back to the community. Without the help of the original RIR, it would have been much more difficult
                    for me to get KINK3D off the ground; therefore I truly appreciate that it existed at the time, and I hope
                    this update will benefit others.
                </p>
                <h3>Developers</h3>
                <p>
                    The code for the original version of Reddit Inbox Remake can be found on Github
                    <a href="https://github.com/Goctionni/RedditInboxRevamp" target="_blank">here</a>. The code for Reddit Inbox
                    Remake
                    (Manifest V3 version) can be found on GitHub
                    <a href="https://github.com/kink3Ddesigns/Reddit-Inbox-Remake" target="_blank">here</a>.
                </p>
                <h3>Feedback and Support</h3>
                <p>
                    If you have any feedback, suggestions, or bug reports, please submit an issue on
                    <a href="https://github.com/kink3Ddesigns/Reddit-Inbox-Remake/issues" target="_blank">GitHub</a>. You may also
                    reach out to the development team on reddit at
                    <a href="https://old.reddit.com/u/kink3d-development" target="_blank">u/kink3d-development</a>.
                </p>
            </div>
            <div class="rir-config-content" data-tab-content="settings">
                <h3>General settings</h3>
                <div class="rir-checkbox">
                    <input type="checkbox" id="RirShowModMail">
                    <label for="RirShowModMail">Show modmail</label>
                </div>
                <p class="rir-config-info">
                    If you are a moderator of one or multiple subreddits, you may or may not want to see your modmail mixed in
                    with your regular messages.
                </p>

                <div class="rir-checkbox">
                    <input type="checkbox" id="RirEnhancedVisibility">
                    <label for="RirEnhancedVisibility">Enhance visibility</label>
                </div>
                <p class="rir-config-info">
                    Some icons and buttons may not stand out as much as you would like them to, in the default setup.
                    To help those who find the default theme not clear enough, enabling this option will enhance
                    the visibility of some of the design elements that would otherwise blend in with their background.
                </p>

                <div class="rir-checkbox">
                    <input type="checkbox" id="RirShowDraftIndicator">
                    <label for="RirShowDraftIndicator">Show draft indicators</label>
                </div>
                <p class="rir-config-info">
                    Enabling this option will show a <i>(Draft)</i> indicator on message-threads for which a draft
                    has been saved.
                </p>
            </div>
            <div class="rir-config-content" data-tab-content="admin">
                <h3>Administration</h3>
                <h4>Reset inbox</h4>
                <button id="RirResetInbox" class="rir-round-action-button"><span class="rir-icon"></span></button>
                <p class="rir-config-info">
                    If something has gone wrong, if somehow the data in your inbox has been corrupted or messages have
                    gone missing somehow... You can use this option to clear out your inbox and restart from scratch.
                    Do note however: Reddit normally will not store more than 1000 private messages. Reddit Inbox Remake
                    stores your messages locally and will store more than 1000 messages. If you have more than a thousand
                    messages, using this option means that you will lose your oldest messages.
                </p>
                <hr>
                <h4>Export messages</h4>
                <button id="RirExportMessages" class="rir-round-action-button"><span class="rir-icon"></span></button>
                <p class="rir-config-info">
                    If for some reason you wish to export your entire inbox, you can do this. There currently is no way
                    to import your data back into Reddit Inbox Remake, however this may allow you to import your data
                    into a different application. Several export formats are available.
                </p>
            </div>
            <div class="rir-config-content" data-tab-content="conversation">
                <h3>Message-thread options</h3>
                <div class="rir-checkbox">
                    <input type="checkbox" id="RirNewFirst">
                    <label for="RirNewFirst">New messages first</label>
                </div>
                <p class="rir-config-info">
                    By default, messages in a message-thread are sorted from old to new. Showing the first message at the top
                    and the last message at the bottom. If you have many long and active message threads, it might be more
                    practical to see the latest message at the top instead. This option allows you to reverse the sorting
                    so that messages are sorted from new to old inside a message thread.
                </p>

                <div class="rir-checkbox">
                    <input type="checkbox" id="RirRememberInputHeight">
                    <label for="RirRememberInputHeight">Remember text-input height</label>
                </div>
                <p class="rir-config-info">
                    By default, every time you open a message thread; the field where you can enter a response will be the same
                    size. With this option enabled the last used height is instead remembered and re-used. When you resize the
                    input area Reddit Inbox Remake will remember the new height of the field and re-use that in the future.
                </p>
            </div>
        </div>
    </div>
    <div class="rir-config-footer">
        <button class="rir-cancel-button">Cancel</button>
        <button class="rir-save-button">Save changes</button>
    </div>
</div>